.concert {
	&-sidebar {
		display: flex;
		flex-direction: column;
		row-gap: 80rem;
		font-size: 22rem;
		line-height: 120%;
		color: rgb(var(--color-light-gray));

		@include mobile {
			padding-block: 16rem;
			row-gap: 32rem;
		}
	}

	&-track-list {
		padding: 0;
		display: flex;
		flex-direction: column;
		row-gap: 32rem;
		list-style: none;
	}

	&-participants {
		padding: 0;
		list-style: none;
	}

	&-disclaimer {
		font-size: 14rem;
		line-height: 120%;

		p {
			font-size: inherit;
		}

		em {
			font-style: normal;
		}
	}

	&-content {
		font-size: 24rem;
		font-weight: 400;
		line-height: 120%;
	}

	&-more-button {
		position: relative;
		padding: 0;
		margin: 0;
		background-color: transparent;
		color: rgb(var(--color-light-gray));

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgb(var(--color-white));
			mix-blend-mode: difference;
			scale: 0 1;
			transition: scale 0.3s;
			transform-style: preserve-3d;
		}

		@include hover {
			color: rgb(var(--color-white));

			&::after {
				scale: 1 1;
			}
		}
	}

	&-additional {
		@include mobile {
			&.pc-block.mob-blk {
				display: flex;
				flex-direction: column;
				row-gap: 32rem;
			}
		}
	}
}
