p {
	margin: 0;
}

a {
	color: inherit;
}

a.p-24-120 {
	text-decoration: none;
}

.art-rich {
	color: rgb(var(--color-white));
}

.w-richtext:not(.rich-bottom) {
	p {
		color: inherit;
		margin-top: 80rem;

		&:where(:has(em)) {
			text-indent: 2.5ch;
		}

		&:where(:has(em)) + p {
			text-indent: 2.5ch;
			margin-top: 32rem;
		}
	}

	h2 + p:first-of-type,
	h3 + p:first-of-type,
	h4 + p:first-of-type,
	h5 + p:first-of-type,
	h6 + p:first-of-type,
	blockquote + p:first-of-type {
		text-indent: 2.5ch;
	}

	h2 + *:not(p) + p,
	h3 + *:not(p) + p,
	h4 + *:not(p) + p,
	h5 + *:not(p) + p,
	h6 + *:not(p) + p {
		text-indent: 2.5ch;
	}
}

.w-richtext-align-center img {
	max-width: 218rem;

	@include mobile {
		max-width: 163rem;
	}
}
