@import url('../webflow/css/main.css');
@import url('../webflow/css/custom.css');

:root {
	--color-white: #fff;
}

.send-btn {
	background: transparent;
	color: var(--color-white);

	& > .pre-send {
		display: block;
	}
}

button.link {
	background: transparent;
	padding: 0;
}

.search-block {
	max-width: 100vw;
	max-height: 100vh;
	border: none;
	position: fixed;
	overflow: visible;
	&[open] {
		display: flex;
	}

	& > .text-block-6 {
		color: var(--color-white);
	}
}

.search-input {
	color: #fff;
}
